@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    @apply bg-background text-foreground;
  }
}
